#map{
  display: none;
	height:100%;
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

#right_content {
  width: 100%;
}

.title {
  margin-left: 40px;
  line-height: 40px;
}

.subtitle {
  margin-left: 60px;
  line-height: 40px;
}

.demo {
  text-decoration: underline;
}
.demo:hover {
  font-weight: bold;
}

.selected{fill:rgb(72,100,107) !important } 
.hover{fill:rgb(237,239,240) !important }
.layer path, circle {fill:rgb(255,246,144); stroke: salmon;}
.uiBackground { background: #e6e6e6; }
.largeText { font-size: 28px; font-weight: bold; color: #de117b; }
.subText { font-size: 14px; font-weight: bold; color: #FFFFFF; }
.mediumText { font-size:14px; color:#666666; }
#uniform-datasets { position: absolute; right: 0px; top: 5px;}
#datasets {display: none;}

#copy {
  color: #000;
  opacity: .5;
}

#copy a {
  color: #000;
}

#info { 
	position:absolute; 
	top: 112px; 
	right: 27px; 
	width:300px; 
	height:400px; 
	padding:10px; 
	overflow:auto;
	display: none;
	}
	
#hoverLabel { 
	height: 25px; 
	padding: 5px;
	padding-top: 10px; 
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	color: #999; 
	background: #eee; 
	border: 2px solid #999;
	border-radius: 15px;
	-moz-border-radius: 15px; 
	display: none;
}

svg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#copy {
  position: absolute;
  left: 0;
  bottom: 4px;
  padding-left: 5px;
  font: 9px sans-serif;
  color: #fff;
  cursor: default;
}

#copy a {
  color: #fff;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}